.container{
    position: relative;
    margin-top: 50px;
    padding: 5%;
    display: flex;
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    width: 50%;
    font-family: var(--font-outfit);

}
.textdiv{
    height: 50%;
    font-weight: 600;
}
.btndiv{
    height: 30%;
}
.contactbtn{
    color: var(--color-text);
    display: block;
    text-decoration: none;
    font-size: 2em;
    background: var(--color-primary);
    border-radius: 50px;
    padding: 20px;
}
.contactbtn:hover{
    font-weight: 700;
    background: var(--color-text);
    color: var(--color-primary);
}
.avatar{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    animation: floating 3s ease-in-out infinite;

}
@keyframes floating {
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(0,10px);
    }
    100%{
        transform: translate(0,-0px);
    }
}


@media screen and (max-width: 830px) {
        .container {
            display: flex;
            flex-direction: column;
            height: 90vh;
        }
    
        .intro {
            height: 40vh;
            width: 100%;
        }
    
        .textdiv {
                height: 65%;
                font-size: 0.5em;
                font-weight:400;
        }
    
        .btndiv {
            height: 20%;
        }
        .contactbtn {
            font-size: 1em;
            background: var(--color-primary);
            border-radius: 30px;
            padding: 10px;
        }
        .avatar{
            height: 50vh;
            width: 100%;
            align-items: flex-start;
            justify-content: center;

        }
        .avatar img{
            height: 300px;
            width: 200px;
        }
}
@media screen and (max-width: 425px){
    .avatar img {
            height: 200px;
            width: 150px;
        }
}