.cardcontainer{
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 2%;
    background: linear-gradient(180deg , #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 20px 24px;
    min-width: 200px;

}
.cardimg{
    margin-bottom: 25px;
    width: -webkit-fill-available;
}
.cardtitle{
    font-size: 25px;
    font-weight: 500;
    padding-left: 2%;

}
.carddesc{
    font-size: 25px;
    font-weight: 300;
    padding-left: 2%;
}
.cardlist{
    width: 100%;
    margin-top: 14px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
.cardlistitem{
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: #1650b8cf;
    padding: 2px 20px;
}

.links{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.demolink,.scodelink{
    text-decoration: none;
    color: var(--color-text);
    font-size: 22px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    background: var(--color-primary);
    margin-bottom: 10px;
}



@media screen and (max-width:425px) {
    .cardcontainer {
            padding: 20px 24px;
            min-width: 220px;
    
        }
    
        .cardimg {
            margin-bottom: 15px;
            width: -webkit-fill-available;
        }
    
        .cardtitle {
            font-size: 25px;
            font-weight: 500;
            padding-left: 1%;
    
        }
    
        .carddesc {
            font-size: 20px;
            font-weight: 300;
            padding-left: 2%;
        }
    
        .cardlist {
            width: 100%;
            margin-top: 10px;
            display: flex;
            gap: 4px;
        }
    
        .cardlistitem {
            font-size: 20px;
            font-weight: 400;
            padding: 2px 15px;
        }
    
        .links {
            margin-top: 15px;

        }
}